* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: blue;
    color: rgb(255, 255, 255);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: blue;
    color: #ffffff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 0;
    background-color: #000000;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.metas {
    margin: 20px 0;
}

.metas h3 {
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: blue;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: blue;
    color: blue;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}